:root {
  --btn-primary-bg: var(--primary);
  --btn-primary-text: var(--contrast-text-color);

  --btn-default-bg: var(--default);
  --btn-default-text: var(--primary);

  --btn-link-bg: transperent;
  --btn-link-text: var(--link-color);
}
.button {
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5ch;

  padding: var(--g-2) var(--g-4);

  background-color: transparent;
  color: var(--text-color);

  border-radius: var(--br-8);
  border: none;
  cursor: pointer;

  font-weight: 500;
  font-size: 0.8573em;

  &:hover {
    background-color: transparent;
  }

  &.button-primary {
    background-color: var(--btn-primary-bg);
    color: var(--btn-primary-text);
  }
  &.button-default {
    background-color: var(--btn-default-bg);
    color: var(--btn-default-text);
  }
  &.button-link {
    background-color: var(--btn-link-bg);
    color: var(--btn-link-text);
    padding: 0;
    border-radius: 0;
    line-height: inherit;
    &.more::before {
      content: "...";
    }
  }
}
