:root {
  --grid-columns: 1;
  --bar-column: 0;
  --main-column: calc(var(--grid-columns) - var(--bar-column));
  --bar-column-start: calc((var(--grid-columns) - var(--bar-column)) + 1);
  --bar-column-size: var(--bar-column-start) / span var(--bar-column);
  --full-row: 1 / span var(--grid-columns);
  --grid-content: 1 / span var(--main-column);
}

@media (width >=1366px) {
  :root {
    --grid-columns: 24;
    --bar-column: 7;
  }
}

@media (width >=768px) {
  :root {
    --grid-columns: 12;
    --bar-column: 4;
  }
}

/* Сетка */

.main-grid {
  inline-size: 100%;
  margin: 0 auto;
  // Фикс для фиксированной панели снизу на маленьких экранах
  // padding-block-end: 76.8px;
  display: grid;
  grid-template-columns: 100%;
  &__big-column {
    order: 1;
  }
  &__content {
    order: 2;
  }
  &__full-row {
    order: 0;
    display: flex;
    flex-direction: column;
    gap: var(--g-4);
    padding: 0 var(--g-4);
  }
}

@media (width >=768px) {
  .main-grid {
    // Фикс для фиксированной панели снизу на маленьких экранах
    padding-block-end: 0;
  }
}

@media (width >=1366px) {
  .main-grid {
    // padding: 0 var(--g-8);
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    &__big-column {
      grid-column: var(--bar-column-size);
      grid-row: 2 / 4;
    }
    &__content {
      grid-column: var(--grid-content);
      padding-inline-end: var(--g-4);
    }
  }
}
