:root {
  --products-grid-card-gap: var(--g-4);
  --products-grid-img-br: var(--br-2);
  // Без скролла число карточек в строке
  --products-grid-card-lenght: 2;
  // Фиксированая макетом ширина карточки если переноса нету
  --products-grid-card-xs-width: 134px;
  --products-grid-card-xl-width: 143px;
  // Ширина карточки товара, если есть перенос (гибкая ширина)
  --products-grid-card-width: calc(
    (
        100% - (var(--products-grid-card-lenght) - 1) *
          var(--products-grid-card-gap)
      ) / var(--products-grid-card-lenght)
  );
}

.products-grid {
  &:has(.scrolling) {
    // Используем гибкую ширину вместо фиксированной
    --products-grid-card-width: var(--products-grid-card-xs-width);
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--products-grid-card-gap);
    &.scrolling {
      flex-wrap: nowrap;
    }
  }
  &__card {
    flex-basis: var(--products-grid-card-width); //Ширина карточки
    flex-shrink: 0; // Запрещаем сжатие карточек
    flex-grow: 0;
    overflow: hidden;
    min-inline-size: var(--products-grid-card-xs-width);
    // max-inline-size: var(--products-grid-card-max-width);
  }
  &__link {
    display: flex;
    flex-direction: column;
    gap: var(--g-4);
    cursor: pointer;
    color: inherit;
  }
  &__image-container {
    overflow: hidden;
  }
  &__image {
    block-size: 100%;
    inline-size: 100%;
    object-fit: cover;
    border-radius: var(--products-grid-img-br);
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--g-1);
  }
  &__cash {
    &-value {
      font-size: var(--h2-size);
      font-weight: var(--SemiBold);
    }
    &::after {
      content: var(--currence-char);
    }
  }
  &__title {
    font-size: 1em;
    font-weight: var(--Regular);
    line-height: 1.29;
  }
}

@media (width>=768px) {
  :root {
    --products-grid-padding: var(--g-8) var(--g-6);
    // Без скролла, число карточек в строке
    --products-grid-card-lenght: 4;
  }
  .products-grid {
    &:has(.scrolling) {
      --products-grid-card-width: var(--products-grid-card-xl-width);
    }
  }
}

@media (width >=1366px) {
  :root {
    // Без скролла, число карточек в строке
    --products-grid-card-lenght: 6;
  }
}
