:root {
  --related-bg: var(--accent-bg);
  --related-padding: var(--g-6) var(--g-4);
  --related-border-radius: var(--br-4);
  --related-gap: var(--g-6);
  --related-card-gap: var(--g-4);
  --related-img-br: var(--br-2);
  --related-card-xs-width: 134px;
  --related-card-sm-width: 143px;
  --related-card-width: var(--related-card-xs-width);
}

.related {
  display: flex;
  flex-direction: column;
  gap: var(--related-gap);
  padding: var(--related-padding);
  background-color: var(--related-bg);
  border-radius: var(--related-border-radius);
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--related-card-gap);
    &.nowrap {
      flex-wrap: nowrap;
      overflow-x: scroll;
      /* Скрываем скроллбар для IE/Edge */
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
  &__card {
    flex: 0 0 var(--related-card-width); //Ширина карточки
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: var(--g-4);
    cursor: pointer;
  }
  &__image-container {
    overflow: hidden;
  }
  &__cash {
    &-value {
      font-size: var(--h2-size);
      font-weight: var(--SemiBold);
    }
    &::after {
      content: var(--currence-char);
    }
  }
  &__image {
    block-size: 100%;
    inline-size: 100%;
    object-fit: cover;
    border-radius: var(--related-img-br);
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--g-1);
  }
  &__title {
    font-size: 1em;
    font-weight: var(--Regular);
    line-height: 1.29;
  }
}

@media (width >=768px) {
  :root {
    --related-padding: var(--g-8) var(--g-6);
    --related-card-width: var(--related-card-sm-width);
  }
}
