:root {
  --panel-gap: var(--g-1);
  --panel-padding: var(--g-4);
  --panel-direction: column;
  --delivery-info-bg-1: var(--info);
  --delivery-info-bg-2: var(--info-2);
  --delivery-list-margin: var(--g-1) 0 0;
  --delivery-list-padding: 0;
}

.delivery-list {
  display: flex;
  flex-direction: var(--panel-direction);
  gap: var(--panel-gap);
  margin: var(--delivery-list-margin);
  padding: var(--delivery-list-padding);

  .delivery-list__item {
    display: flex;
    flex-direction: column;
    gap: var(--panel-gap);
    color: var(--main-text-color);
    border-radius: var(--panel-radius);
    padding: var(--panel-padding);
    flex: 1 0 0;

    &:nth-child(even) {
      background-color: var(--delivery-info-bg-2);
    }

    &:nth-child(odd) {
      background-color: var(--delivery-info-bg-1);
    }

    .delivery-list__title {
      font-weight: var(--title-weight);
      font-size: var(--h3-size);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .delivery-list__text {
      font-weight: var(--Light);
    }
  }
}

@media (width >=768px) {
  :root {
    --panel-gap: var(--g-2);
    --panel-padding: var(--g-6);
    --panel-direction: row;
    --delivery-list-margin: var(--g-4) 0 0 0;
    --delivery-list-padding: 0 var(--g-4);
  }
}

@media (width >=1366px) {
  :root {
    --delivery-list-margin: var(--g-4) 0;
    --delivery-list-padding: 0;
  }
}
