:root {
  --product-description-template: 100%;
  --product-description-padding: var(--g-8) var(--g-4);
  --product-description-gap: var(--g-6);
  // content
  --product-description-content-gap: var(--g-4);
}

/* Блок подробного описания продукта */

.product-description {
  padding: var(--product-description-padding);
  display: grid;
  grid-template-columns: var(--product-description-template);
  gap: var(--product-description-gap);
  justify-content: space-between;
  &__contetnt {
    display: flex;
    flex-direction: column;
    gap: var(--product-description-content-gap);
  }
}

@media (width >=768px) {
  :root {
    --product-description-template: var(--PRODUCT-title-column-size)
      var(--PRODUCT-title-column-size);
  }
}

@media (width >=1100px) {
  :root {
    --product-description-padding: var(--g-8) 0;
  }
}
