:root {
  --reviews-padding: var(--g-8) var(--g-4);
  --reviews-direction: column;
  --reviews-gap: var(--g-6);
}

.product-reviews {
  padding: var(--reviews-padding);
  display: flex;
  flex-direction: var(--reviews-direction);
  justify-content: space-between;
  gap: var(--reviews-gap);

  &__list {
    display: flex;
    flex-direction: column;
    gap: var(--g-6);
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: var(--g-3);
  }

  &__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: var(--g-1);

    h3 {
      font-weight: var(--SemiBold);
    }

    time {
      color: var(--secondary-text-color);
    }
  }
  &__body {
    line-height: 1.57;
  }

  &__controls {
    display: flex;
    flex-direction: row;
    gap: var(--g-2);
  }
}

@media (width >=768px) {
  :root {
    --rewiews-padding: var(--g-10) var(--g-8);
    --reviews-direction: row;
    --reviews-gap: var(--g-10);
  }
  .product-reviews {
    &__item {
      max-inline-size: 578px;
    }
  }
}
