:root {
  --product-reviews-template: 100%;
  --product-reviews-padding: var(--g-8) var(--g-4);
  --product-reviews-gap: var(--g-6);
}

.product-reviews {
  padding: var(--product-reviews-padding);
  display: grid;
  grid-template-columns: var(--product-reviews-template);
  gap: var(--product-reviews-gap);
  justify-content: space-between;
  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--g-6);
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: var(--g-6);
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: var(--g-3);
  }
  &__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__title {
    display: flex;
    flex-direction: column;
    gap: var(--g-1);
    h3 {
      font-weight: var(--SemiBold);
    }
    time {
      color: var(--secondary-text-color);
    }
  }
  &__body {
    line-height: 1.57;
    & .button-link {
      color: var(--secondary-text-color);
    }
  }
  &__controls {
    display: flex;
    flex-direction: row;
    gap: var(--g-2);
  }
}

@media (width >=768px) {
  :root {
    --product-reviews-template: var(--product-title-column-size)
      var(--product-content-column-size);
  }
}

@media (width >=1100px) {
  :root {
    --product-reviews-padding: var(--g-8) 0;
  }
}
