@import url(../components/product/order-form.scss);
@import url(../components/product/delivery-module.scss);
@import url(../components/product/specifications.scss);
@import url(../components/product/product-images.scss);

:root {
	--count-column: 24;
	--order-columns: 7;

	--main-columns: calc(var(--count-column) - var(--order-columns));

	--order-form-column-start: calc((var(--count-column) - var(--order-columns)) + 1); //8

	--order-form-column-size: var(--order-form-column-start) / span var(--order-columns); // 8 / span 5

	--full-row: 1 / span var(--count-column);
	--grid-info: 1 / span var(--main-columns);
}

/* Сетка страницы продукта */
.product-grid {
	inline-size: 100%;
	max-inline-size: var(--max-size-grid);
	min-inline-size: var(--min-size-grid);
	margin: 0 auto;

	display: grid;
	grid-template-columns: 100%;


	.product-grid__header {
		order: 0;
		display: flex;
		flex-direction: column;
		gap: var(--g-4);
		padding: 0 var(--g-4);

		.header__content {
			display: flex;
			flex-direction: column;
			gap: var(--g-4);

			.header__title {
				font-size: var(--h1-size);
				font-weight: var(--title-weight);
			}

			.header__panel {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				font-size: var(--text-small);
				font-weight: var(--Light);
				color: var(--secondary-text-color);
			}
		}

		.thumb-img {
			border-radius: var(--thumb-border-radius);
			width: calc(100% + var(--g-8));
			margin-inline-start: calc(var(--g-4) * -1);
		}
	}

	.product-grid__order-form {
		order: 1;
	}

	.product-grid__info {
		order: 2;
	}

	.product-grid__related-products {
		order: 3;
	}
}

@media (width >=1024px) {
	.product-grid {
		padding: 0 var(--g-8);
		grid-template-columns: repeat(var(--count-column), 1fr);

		.product-grid__header {
			grid-column: var(--full-row);
			padding: 0;

			.header__content {
				flex-direction: row;
				justify-content: space-between;

				.header__panel {
					flex-direction: column;
					align-items: flex-end;
					gap: var(--g-1);
				}
			}

			.thumb-img {
				width: 100%;
				margin: 0;
			}
		}

		.product-grid__order-form {
			grid-column: var(--order-form-column-size);
			grid-row: 2 / 4;
		}

		.product-grid__info {
			grid-column: var(--grid-info);
			padding-inline-end: var(--g-4);
		}

		.product-grid__related-products {
			grid-column: var(--full-row);
		}
	}
}

/* END Сетка страницы продукта */
:root {
	--product-description-padding: var(--g-8) var(--g-4);
	--product-description-gap: var(--g-2);
}

/* Блок подробного описания продукта */
.product-description {
	display: flex;
	flex-direction: column;
	gap: var(--product-description-gap);
	padding: var(--product-description-padding);
}

@media (width >=768px) {
	:root {
		--product-description-padding: var(--g-4) 0;
		--product-description-gap: var(--g-4);
	}
}

/* END Блок подробного описания продукта */