*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Лечим рекламу оператора */

div:not([class]),
iframe:not([class]) {
  display: none;
}

html {
  font-size: var(--fs);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  max-inline-size: var(--max-text-size);
}

h1 {
  font-size: var(--h1-size);
}

h2 {
  font-weight: var(--SemiBold);
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
}

h4,
h5,
h6 {
  font-size: var(--h4-size);
}

a {
  color: inherit;
}

button,
input {
  appearance: none;
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  border: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

body.scrollBlock {
  overflow: hidden;
  // position: fixed;
}

.scrolling {
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  cursor: w-resize;
  // Если скролли текстовые эелементы, добавь white-space: nowrap;
}

.page {
  color: var(--main-text-color);
  font-family: var(--main-font), sans-serif;
  font-weight: var(--simple-text-weight);
  font-size: var(--font-size);
  /* 
  background-color: var(--bg-main-color);
  background-image: var(--gradient);
  background-size: cover;
  background-attachment: fixed; */
  background-color: var(--page-bg);
  min-block-size: 100dvh;
  min-inline-size: var(--min-size-grid);
  display: flex;
  gap: var(--g-6);
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  overflow-x: hidden;
}

.container {
  inline-size: 100%;
  max-inline-size: var(--max-size-grid);
  min-inline-size: calc(var(--min-size-grid) - var(--g-4) * 2);
  padding: var(--container-padding);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.scroll-row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  flex-direction: row;
  /* Скрываем скроллбар для IE/Edge */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.visually-hidden {
  position: absolute !important;
  inline-size: 1px !important;
  block-size: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.bg-main {
  background-color: var(--bg-main-color);
}

.bg-second {
  background-color: var(--bg-second-color);
}

.text-danger {
  color: var(--danger-color);
}

.secondary-text {
  line-height: 143%;
  font-weight: var(--Light);
  color: var(--secondary-text-color);
}

.bold-text {
  color: currentColor;
  font-weight: var(--title-weight);
}

.hidden-xs {
  display: none !important;
}

@media (min-width: 768px) {
  .hidden-xs {
    display: flex !important;
    flex-direction: inherit;
    flex-wrap: inherit;
    align-content: inherit;
    justify-content: inherit;
    align-items: inherit;
  }
}
